<nav class="navbar navbar-expand-lg navbar-dark bg-brand py-3 mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">
      <!-- <img src="<%= image_url('brand.png') %>" alt=""> -->
      Nav10
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">


        <% if current_user.teacher? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= panel_exams_path %>">Simulados</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= panel_exam_applications_path %>">Aplicações</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= panel_students_path %>">Estudantes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= panel_groups_path %>">Turmas</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= panel_exam_applications_path %>">Simulados</a>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to('Sair', destroy_user_session_path, method: :delete, class: 'nav-link') %>
        </li>
      </ul>
    </div>
  </div>
</nav>
