<nav class="navbar navbar-expand-lg navbar-dark bg-brand py-3 py-md-0 mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">
      <!-- <img src="<%= image_url('brand.png') %>" alt=""> -->
      <b>nav</b><span class="text-colored--light">10</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% navbar_links(current_user).map do |link| %>
          <li class="nav-item <%= 'active' if link[:active] %>">
            <a class="nav-link" href="<%= link[:path] %>">
              <%= link[:title] %>
            </a>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to('Sair', destroy_user_session_path, method: :delete, class: 'nav-link') %>
        </li>
      </ul>
    </div>
  </div>
</nav>
