<div class="container py-4">
  <div class="page-header">
    <h1 class="page-header__title">Histórico</h1>

    <div class="page-header__actions">
      <a
        href="<%= panel_exam_applications_path(@user_answer.exam_application_id) %>"
        class="btn btn-light"
      >
        Voltar
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <b>Estudante</b>
          <div><%= @user_answer.user.name %></div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <b>Acerto</b>
          <div><%= @user_answer.correctness_percentage %>%</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <b>Exame</b>
          <div><%= @user_answer.exam_application.exam.title %></div>
        </div>
      </div>
    </div>
  </div>

  <ul class="timeline">
    <% @user_answer.logs.each do |log| %>
      <li>
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              <%= print_log(log) %>
            </h4>

            <% if log['subject'] == 'question' %>
              <p class="mb-1">
                <%= print_log_question_description(log) %>
              </p>
            <% end %>

            <% if log['event'] == 'select' %>
              <p class="mb-1">
                <%= print_log_select_description(log) %>
              </p>
            <% end %>

            <% if log['event'] == 'see' %>
              <p class="mb-1">
                Duração: <%= print_time(@user_answer.event_duration(log)) %>
              </p>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
