<div class="container py-4">
  <div class="page-header">
    <% if current_user.teacher? %>
      <h1 class="page-header__title">Aplicação de simulado</h1>

      <div class="page-header__actions">
        <a href="<%= new_panel_exam_application_path %>" class="btn btn-primary">Nova aplicação</a>
      </div>
    <% else %>
      <h1 class="page-header__title">Simulados</h1>
    <% end %>
  </div>

  <% if @exam_applications.empty? %>
    <div class="text-center">
      <h3 class="text-muted">Nenhuma aplicação cadastrada</h3>
    </div>
  <% end %>

  <% @exam_applications.each do |exam_application| %>
    <div class="card mb-1">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-8 h5 m-0">
            <% if current_user.teacher? %>
              <a href="<%= panel_exam_application_path(exam_application) %>">
                Aplicação <%= exam_application.id %>
              </a>
            <% elsif(!current_user.answered?(exam_application)) %>
              <a href="<%= panel_exam_application_start_path(exam_application) %>">
                <%= exam_application.exam.title %>
              </a>
            <% else %>
              <div><%= exam_application.exam.title %></div>
              <small>Respondido</small>
            <% end %>
          </div>

          <% if current_user.teacher? %>
            <div class="col">
              <div>Simulado</div>
              <div><b><%= exam_application.exam.title %></b></div>
            </div>
          <% elsif %>
            <div class="col">
              <div>Acerto</div>
              <div><b><%= current_user.correctness_percentage(exam_application) %>%</b></div>
            </div>
          <% end %>

          <div class="col d-none d-md-block">
            <div>Turma</div>
            <div><b><%= exam_application.group.name %></b></div>
          </div>

          <% if current_user.teacher? %>
            <div class="col">
              <div>Aplicado em</div>
              <div><b><%= exam_application.created_at.strftime("%d/%m/%Y") %></b></div>
            </div>
          <% end %>

          <div class="col-auto ml-auto d-flex">
            <% if current_user.teacher? %>
              <%= button_to "Excluir", panel_exam_application_path(exam_application), method: :delete, class: 'btn btn-sm btn-confirm mr-2', data: { confirm: 'Você tem certeza que deseja deletar esta aplicação?' } %>
              <a href="<%= edit_panel_exam_application_path(exam_application) %>" class="btn btn-sm btn-primary">Editar</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
