<div class="container py-4">
  <div class="page-header">
    <div class="page-header__title">
      Aplicação <%= @exam_application.id %>

      <div class="h5 mt-2">
        <a class="text-muted" href="<%= edit_panel_exam_path(@exam) %>"><%= @exam.title %></a>
      </div>
    </div>
  </div>

  <div class="mb-5">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="<%= panel_exam_application_path(@exam_application) %>">Respostas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" href="<%= panel_exam_application_question_analysis_path(@exam_application) %>">Análise de questões</a>
      </li>
    </ul>
  </div>

  <% @exam.number_of_questions.times do |question_index| %>
    <div class="mb-4">
      <h5>Questão #<%= question_index + @exam.start_question_number %></h5>

      <div class="row px-4 py-2">
        <div class="col-4">
          <b class="text-muted">Opção</b>
        </div>

        <div class="col-4">
          <b class="text-muted">Selecionado</b>
        </div>

        <div class="col-4">
          <b class="text-muted">Porcentagem</b>
        </div>
      </div>

      <% @exam.number_of_options.times do |option_index| %>
        <div class="card mb-1 <%= 'border-success text-success' if @exam.answers.present? && @exam.answers[question_index.to_s] == option_index.to_s %>">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-4">
                <b><%= letter_option(option_index) %></b>
              </div>

              <div class="col-4">
                <%= @exam_application.count_option_choices(question_index, option_index) %>
                <small>vezes</small>
              </div>

              <div class="col-4">
                <%= @exam_application.count_option_choices_percentage(question_index, option_index) %>%
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
