<div class="container py-4">
  <div class="page-header">
    <div class="page-header__title">
      Aplicação <%= @exam_application.id %>

      <div class="h5 mt-2">
        <a class="text-muted" href="<%= edit_panel_exam_path(@exam_application.exam) %>"><%= @exam_application.exam.title %></a>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="<%= panel_exam_application_path(@exam_application) %>">Respostas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= panel_exam_application_question_analysis_path(@exam_application) %>">Análise de questões</a>
      </li>
    </ul>
  </div>

  <div class="row mb-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="display-4"><%= @exam_application.users_done_count %></div>
          <div>Finalizado</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="display-4"><%= print_short_time(@exam_application.medium_time_count_in_seconds) %></div>
          <div>Tempo médio</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="display-4"><%= @exam_application.medium_correctness_percentage %>%</div>
          <div>Média de acertos</div>
        </div>
      </div>
    </div>
  </div>


  <div class="row px-4 py-2">
    <div class="col-6">
      <b class="text-muted">Estudante</b>
    </div>

    <div class="col-3">
      <b class="text-muted">Tempo total</b>
    </div>

    <div class="col-3">
      <b class="text-muted">Acertos</b>
    </div>
  </div>

  <% @exam_application.user_answers.each do |user_answer| %>
    <div class="card mb-1">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-6">
            <a href="<%= panel_exam_application_user_answer_path(user_answer.exam_application, user_answer) %>">
              <b><%= user_answer.user.name %></b>
            </a>
          </div>

          <div class="col-3">
            <%= print_human_time(user_answer.total_time) %>
          </div>

          <div class="col-3">
            <%= user_answer.correctness_percentage %>%
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
