<div class="container py-4">
  <div class="page-header">
    <h1 class="page-header__title">
      <%= @exam.title %>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-8 mb-2">
      <div class="row px-4 py-2 text-muted d-none d-md-flex">
        <div class="col-3">
          <b>Questão</b>
        </div>

        <div class="col-3">
          <b>Tempo total</b>
        </div>

        <div class="col-3">
          <b>Resposta</b>
        </div>

        <div class="col-3">
          <b>Acertou</b>
        </div>
      </div>

      <% @exam.number_of_questions.times do |question_index| %>
        <div class="card mb-1">
          <div class="card-body">
            <div class="row">
              <div class="col-3 pr-0"><b>#<%= question_index + @exam.start_question_number %></b></div>
              <div class="col-5 pr-0"><%= print_short_time(@user_answer.total_question_time(question_index)) %></div>
              <div class="col-2"><%= letter_option(@user_answer.answers[question_index.to_s]) || '-' %></div>
              <div class="col-2">
                <% if(@user_answer.answers[question_index.to_s].present? && @user_answer.answers[question_index.to_s] == @exam.answers[question_index.to_s]) %>
                  <i class="fas fa-check text-success"></i>
                <% else %>
                  <i class="fas fa-minus text-danger"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <div class="px-4 py-2 text-muted">
        <b>Histórico</b>
      </div>

      <% @user_answer.logs.each do |log| %>
        <% if log['event'] == 'start' %>
          <div class="card mb-1">
            <div class="card-body">
              Começou às <b><%= log['time'].to_datetime.strftime("%d/%m/%Y - %H:%M") %></b>
            </div>
          </div>
        <% elsif log['event'] == 'go_to' %>
          <div class="card mb-1">
            <div class="card-body">
              Visualizou a questão <b>#<%= log['index'].to_i + @exam.start_question_number %></b> por
              <b><%= print_human_time(@user_answer.event_duration(log)) %></b>

              <% if @user_answer.next_log(log)['event'] == 'select' %>
                e selecionou a <b>opção
                <%= letter_option(@user_answer.next_log(log)['index'].split('_')[1].to_i) %>
              </b>
              <% elsif @user_answer.next_log(log)['subject'] == 'showQuestions' %>
                <div>e voltou para a tela de questões</div>
              <% end %>
            </div>
          </div>
        <% elsif log['event'] == 'see' && log['subject'] == 'question' %>
          <div class="card mb-1">
            <div class="card-body">
              Visualizou a questão <b>#<%= log['index'].to_i + @exam.start_question_number %></b> por
              <b><%= @user_answer.event_duration(log) %> segundos</b>

              <% if @user_answer.next_log(log)['event'] == 'select' %>
                <div>e selecionou a <b>opção
                  <%= letter_option(@user_answer.next_log(log)['index'].split('_')[1].to_i) %>
                </b></div>
              <% elsif @user_answer.next_log(log)['subject'] == 'showQuestions' %>
                <div>e voltou para a tela de questões</div>
              <% end %>
            </div>
          </div>
        <% elsif log['event'] == 'finish' %>
          <div class="card mb-1">
            <div class="card-body">
              Finalizou às <b><%= log['time'].to_datetime.strftime("%d/%m/%Y - %H:%M") %></b>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
