<div class="container py-4">
  <div class="page-header">
    <h1 class="page-header__title">Simulados</h1>

    <div class="page-header__actions">
      <a href="<%= new_panel_exam_path %>" class="btn btn-accent">Novo simulado</a>
    </div>
  </div>

  <% if @exams.empty? %>
    <div class="text-center">
      <h3 class="text-muted">Nenhum simulado cadastrado</h3>
    </div>
  <% end %>

  <div class="row px-4 py-2">
    <div class="col-6">
      <b class="text-muted">Título</b>
    </div>

    <div class="col">
      <b class="text-muted">Duração</b>
    </div>

    <div class="col">
      <b class="text-muted">Nº de questões</b>
    </div>

    <div class="col-2 text-right">
      <b class="text-muted">Ações</b>
    </div>
  </div>

  <% @exams.each do |exam| %>
    <div class="card mb-1">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-6 m-0">
            <a href="<%= edit_panel_exam_path(exam) %>">
              <b><%= exam.title %></b>
            </a>
          </div>

          <div class="col">
            <%= exam.duration_in_minutes %> minutos
          </div>

          <div class="col">
            <%= exam.number_of_questions %>
          </div>

          <div class="col-2 text-right">
            <%= button_to panel_exam_path(exam), method: :delete, class: 'btn btn-transparent btn-sm btn-confirm mr-2', title: 'Deletar', data: { confirm: 'Você tem certeza que deseja deletar este simulado?' } do %>
              <i class="fas fa-times"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
