<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nav10</title>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
</head>
<body>
  <div class="d-flex flex-column h-100">
    <div>
      <%= render partial: 'layouts/panel/navbar' %>
    </div>

    <%= yield %>

    <%= react_component('FooterOutlet') %>

    <footer class="mt-auto py-4">
      <div class="container text-muted text-center">
        Todos os direitos reservados <br><b>NAV10 2018</b>
      </div>
    </footer>
  </div>
</body>
</html>
